/* General styling */
body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(135deg, #8d6eda, #4a4e69, #22223b);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

/* Centering the container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Styling the form container */
.form-container {
  background: linear-gradient(135deg, rgba(72, 61, 139, 0.8), rgba(123, 104, 238, 0.8));
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(20, 10, 12, 0.5);
  width: 400px;
}

/* Styling the form title */
h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #fff;
}

/* Styling the input fields */
input[type="email"],
input[type="password"] {
  width: 91%;
  padding: 15px;
  margin: 10px 0;
  border: 5px solid #888;
  border-radius: 80px;
  background-color: #88;
  color: #fff;
  text-align: center;
  transition: border-color 0.3s ease-in-out;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #6a5acd;
}

/* Styling the buttons */
.button-85 {
  padding: 15px 30px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: linear-gradient(45deg, #ff6b6b, #f06595, #6a4c93);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 15px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 20px;
  width: 100%;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.button-85:hover {
  background: linear-gradient(45deg, #ff4757, #f06595, #6a4c93);
  filter: brightness(1.1);
}
